<!DOCTYPE html>
<html lang="sp">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mi primer documento en HTML</title>
</head>

<body>
      <h1>El título de nuestro documento</h1>
      <h2>Un subtítulo cualquiera</h2>
      <img src="/image/leia.jpg" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci labore inventore suscipit libero cumque deserunt esse, sequi, officia quia
            reiciendis natus sunt sint laudantium impedit consequuntur laborum dolorem quas ab!</p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia tempora harum quidem magni, recusandae provident ea ducimus, debitis dolore
            tenetur ipsam doloribus nobis excepturi in a. Voluptas eveniet maiores assumenda.</p>
      <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
      </ol>
      <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
      </ul>
      <a href="https://www.google.com">Ir Google</a>
</body>

</html>